body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  color: #66BFBF;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
  
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.subtitle-main-page{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.top-container{
  background-color: #EAF6F6;
  position:relative;
  margin: 0 auto 50px auto;
  padding-top: 80px;
}

.intro{
  width: 50%;
  margin: auto;
  line-height: 2;
}

.middle-container{
margin: 100px 0;
}
.bottom-container{
  background: #66BFBF;
  padding: 45px 0 15px;
}

.myskills-h2{
  margin: 80px auto 80px auto;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}

.botton-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-img{
  border-radius: 4px;
  width: 180px;
  padding-top: 30px;
}
.skill-row{
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.qaengineer-img{
  width: 25%;
  padding-top: 30px;
  float: left;
  margin-right: 30px;
}

.analysis-img{
  width: 25%;
  padding-top: 30px;
  float: right;
  margin-left: 30px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.contactme-btn {
 background: #11CDD4;
 background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
 background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
 background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
 background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
 background-image: -o-linear-gradient(top, #11CDD4, #11999E);
 background-image: linear-gradient(to bottom, #11CDD4, #11999E);
 border-radius: 8px;
 color: #AFFFFF;
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 font-weight: 100;
 padding: 7px;
 box-shadow: 1px 1px 5px 0px #11999E;
 text-shadow: 1px 1px 5px #666666;
 border: 0;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
 text-align: center;
}

    
.contactme-btn:hover {
border: 0;
background: #30E3CB;
background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
border-radius: 8px;
}

.footer-link{
  color: #11999E;
}

.copyright-page{
  color: #EAF6F6;
  font-size: 12px
}
